<!-- emergency/templates/emergency/base.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CareBridge 응급실{% endblock %}</title>
    {% load static %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'emergency/css/emergency.css' %}">
    <link rel="stylesheet" href="{% static 'emergency/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'emergency/css/detail.css' %}">

    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_MAP_JS_KEY }}&autoload=false&libraries=services"></script>

</head>

<body>
<div class="page-wrap">
    {% block content %}{% endblock %}
</div>

<!-- JS -->
<script src="{% static 'emergency/js/emergency.js' %}"></script>
<script src="{% static 'emergency/js/region_modal.js' %}"></script>
<script src="{% static 'emergency/js/filter_modal.js' %}"></script>
<script src="{% static 'emergency/js/detail_modal.js' %}"></script>

<script>
  // ESC로 모든 모달 닫기
  document.addEventListener("keydown", function(e) {
    if (e.key === "Escape") {
      document.querySelectorAll(".modal-overlay").forEach(function(m) {
        m.classList.add("hidden");
      });
    }
  });

</script>

</body>
</html>
